﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Color Grid Rows Demo</h1>
    <p class="lead">Kendo UI Grid</p>
</div>

@(
        Html.Kendo().Grid<ColorGridDemo_Two.Models.Transaction>()
            .Name("DemoGrid")
            .Columns(columns =>
            {
                columns.Bound(p => p.Description).Title("Transaction Description");
                columns.Bound(p => p.deposit).Title("Deposit?");
                columns.Bound(p => p.Amount).Format("{0:c}");
            })
           .Sortable()
           .Filterable()
           .Events(evnts => evnts.DataBound("ColorMeBad"))
           .DataSource(datasource => datasource.Ajax().PageSize(10)
                            .Read(read => read.Action("Transactions_Read", "Home"))
                  )

)

<script type="text/javascript">
    function ColorMeBad() {
        var grid = $("#DemoGrid").data("kendoGrid");
        var data = grid.dataSource.data();
        $.each(data, function (i, row) {
            if (row.deposit) {
                $('tr[data-uid="' + row.uid + '"] ').css("background-color", "green");
            } else {
                $('tr[data-uid="' + row.uid + '"] ').css("background-color", "red");
            }
        })
    }
</script>


